#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin-bottom: 40px;
}
.guess-container{
    margin: 20px;
}
.footer{
    margin-top: 1rem;
  padding: 1rem;
  border: 1px solid rgb(125, 125, 125);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: white;
}
.question{
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}
/* Desktop mode*/
@media all and (min-width:500px) {

.title{
    max-width: 500px;
}
}

/* phone mode*/
@media all and (min-width:0px) and (max-width: 500px) {
    .title{
        max-width: -webkit-fill-available;
    }
}

