.win__title {
    font-weight: 700 !important;
}

.win__content {
    display: flex;
    gap: var(--space-4);
    align-items: flex-start;
}

.win__card {
    flex: none;
    width: 168px;
    height: auto;
    border-radius: 4px;
}

.win__summary p {
    margin: 0 0 var(--space-3);
}

@media (max-width: 500px) {
    .win__content {
        flex-flow: column;
        align-items: center;
        text-align: center;
    }
    .win__card {
        width: 120px;
    }
}
